CONFIGURATION SYNTAX

  configuration:=
    private_interface { <interface> }
    public_interface { <interface> }
    private_ip4 <ipv4addr>;
    public_ip4 <ipv4addr>;
    private_nexthop_ip4 <ipv4addr>;
    public_nexthop_ip4 <ipv4addr>;
    [ route { <route> } ]*
    [ negotiation_ttl <seconds>; ]
    [ sa_ttl <seconds>; ]

  interface:=
    macaddr <hwaddr>;
    [ vlan <tag>; ]
    pciaddr <busaddr>;

  route:=
    id <string>;
    net_cidr4 <ipv4prefix>;
    gw_ip4 <ipv4addr>;
    preshared_key <string>;
    spi <spi>;
    [ private_mtu <size>; ]

NOTES

  A Vita configuration defines a private and a public network interface, the
  gateway’s own private (local) and public IP addresses, the IP addresses of
  the private and public next hops respectively, and a set of routes to other
  Vita nodes.

  Each interface is identified by a Linux PCI bus address, and assigned an
  Ethernet (MAC) address. Optionally, a IEEE 802.1Q VLAN Identifier can be set.
  Given that the underlying hardware device supports VMDq, it is possible to
  pass the same PCI bus address for both interfaces to have them share a single
  physical port.

  Each route is given a unique, human readable identifier that must satisfy the
  pattern [a-zA-Z0-9_]+ (i.e., one or more alphanumeric ASCII and underscore
  characters.) The route’s destination IPv4 subnet and gateway are specified
  with an IPv4 prefix in CIDR notation, and an IPv4 address respectively. For
  authentication, each route is assigned a unique, pre-shared 256-bit key,
  encoded as a hexadecimal string (two digits for each octet, most significant
  digit first). Finally, a unique Security Parameter Index (SPI), which must be
  a positive integer equal or greater than 256, is specified for tagging and
  associating encrypted traffic for a given route. Like the pre-shared key, the
  SPI must be the same for both ends of a route.

  Optionally, the private MTU can be specified in bytes. The default and
  maximum permitted value is 8937. Since Vita performs neither fragmentation
  nor reassembly it may be necessary to adjust the next-hop MTU accordingly.
  Note that packets leaving the public interface will have an added packet size
  overhead due to encapsulation (up to 57 bytes for IPv4 and up to 77 bytes for
  IPv6.)

  While the default configuration should be generally applicable, the
  negotiation timeout and lifetime of Security Associations (SA) can be
  specified in seconds.

EXAMPLE

  private_interface { macaddr 52:54:00:00:00:00; pciaddr 0c:00.0; }
  public_interface { macaddr 52:54:00:00:00:FF; pciaddr 0c:00.1; }

  private_ip4 192.168.10.10;
  public_ip4 203.0.113.1;

  private_nexthop_ip4 192.168.10.1;
  public_nexthop_ip4 192.168.10.1;

  route {
    id testroute1;
    net_cidr4 192.168.20.0/24;
    gw_ip4 203.0.113.2;
    preshared_key 91440DA06376A668AC4959A840A125D75FB544E8AA25A08B813E49F0A4B2E270;
    spi 1001;
  }

  route {
    id testroute2;
    net_cidr4 192.168.30.0/24;
    gw_ip4 203.0.113.3;
    preshared_key CF0BDD7A058BE55C12B7F2AA30D23FF01BDF8BE6571F2019ED7F7EBD3DA97B47;
    spi 1223;
  }

  private_mtu 1280;

  sa_ttl 86400;
