CONFIGURATION SYNTAX

  configuration:=
    private-interface4 { <interface> }
    public-interface4|public-interface6 { <interface> }
    [ route4|route46 { <route> } ]*
    [ mtu <size>; ]
    [ negotiation-ttl <seconds>; ]
    [ sa-ttl <seconds>; ]
    [ data-pane <boolean>; ]
    [ outbound-sa { <sa> } ]*
    [ inbound-sa { <sa> } ]*

  interface:=
    pci <busaddr>;
    ip4|ip6 <addr>;
    nexthop-ip4 <addr>;
    [ mac <hwaddr>; ]
    [ nexthop-mac <hwaddr>; ]

  route:=
    id <string>;
    net-cidr4 <prefix>;
    gw-ip4|gw-ip6 <addr>;
    preshared-key <string>;
    spi <spi>;

 sa:=
    route <string>;
    spi <spi>;
    aead "aes-gcm-16-icv";
    key <string>;
    salt <string>;

NOTES

  A Vita configuration defines a private and a public network interface for use
  by the gateway, a set of routes to other Vita nodes, and the gateway’s MTU
  among other miscellaneous operational parameters.

  Each interface is identified by a Linux PCI bus address, and assigned an
  IP address as well as the IP address of the next hop through which all
  packets leaving the interface will be routed. The IP addresses assigned to
  both interfaces may be the same.

  If the Ethernet (MAC) address of the interface is not explicitly specified,
  it is automatically derived from its assigned IP address by prepending the
  bytes 2a:bb: or 3a:bb: to its least significant 32 bits depending on whether
  it is the private or public interface respectively.

  Given that the NIC driver in use supports VMDq, it is possible to pass the
  same PCI bus address for both interfaces to have them share a single physical
  port.

  If a next hop’s MAC address is given Vita will skip ARP look-up and address
  the next hop directly (this is option intended for use in testing
  environments.)

  Each route is given a unique, human readable identifier that must satisfy the
  pattern [a-zA-Z0-9_]+ (i.e., one or more alphanumeric ASCII and underscore
  characters.) The route’s destination IP subnet and gateway are specified with
  an IP prefix in CIDR notation, and an IP address respectively. Packets that
  arrive on the private interface and which are destined to a route’s specified
  IP subnetwork are tunneled to the destination gateway of that route.

  For authentication, each route is assigned a unique, pre-shared 256-bit key,
  encoded as a hexadecimal string (two digits for each octet, most significant
  digit first). Additionally, a unique Security Parameter Index (SPI), which
  must be a positive integer equal or greater than 256, is specified for
  tagging and associating key exchange protocol messages for a given route.
  Like the pre-shared key, the SPI must be the same for both ends of a route.

  A suitable key could be obtained using the following command:

    head -c 32 /dev/urandom | hexdump -e '/1 "%02X"'

  Optionally, the gateway’s MTU (excluding Ethernet overhead) can be specified
  in bytes. The default and maximum permitted value is 8923. Since Vita
  performs neither fragmentation nor reassembly it may be necessary to adjust
  the next-hop MTU accordingly. Note that packets leaving the public interface
  will have an added packet size overhead due to encapsulation (up to 57 bytes
  for IPv4 and up to 77 bytes for IPv6.)

  While the default configuration should be generally applicable, the
  negotiation timeout and lifetime of Security Associations (SA) can be
  specified in seconds.

  The 'data-plane' toggle can be set to disable Vita’s key manager. In this
  case the options 'negotiation-ttl', 'sa-ttl' as well as 'route.spi' and
  'route.preshared-key are ignored, and the user is expected to configure
  'outbound-sa' and 'inbound-sa' themselves. Each SA must name an existing
  route, an SPI equal or greater than 256, and specify a 128-bit key and a
  32-bit salt respectively, encoded as hexadecimal strings (two digits for each
  octet, most significant digit first).

REFERENCES

  Refer to vita-esp-gateway.yang for a formal YANG model that defines Vita’s
  configuration as well as the statistics counters queryable at runtime.

EXAMPLE

  private-interface4 {
    pci 0c:00.0;
    ip4 172.16.1.10;
    nexthop-ip4 172.16.1.1;
  }

  public-interface4 {
    pci 0c:00.1;
    ip4 203.0.113.10;
    nexthop-ip4 172.16.1.1;
  }

  route4 {
    id site2;
    net-cidr4 172.16.2.0/24;
    gw-ip4 203.0.113.2;
    preshared-key 91440DA06376A668AC4959A840A125D75FB544E8AA25A08B813E49F0A4B2E270;
    spi 1001;
  }

  route4 {
    id site3;
    net-cidr4 172.16.3.0/24;
    gw-ip4 203.0.113.3;
    preshared-key CF0BDD7A058BE55C12B7F2AA30D23FF01BDF8BE6571F2019ED7F7EBD3DA97B47;
    spi 1223;
  }

  mtu 1280;
