CONFIGURATION SYNTAX

  configuration:=
    private_interface { <interface> }
    public_interface { <interface> }
    [ route { <route> } ]*
    [ negotiation_ttl <seconds>; ]
    [ sa_ttl <seconds>; ]

  interface:=
    pci <busaddr>;
    ip4 <ipv4addr>;
    nexthop_ip4 <ipv4addr>;
    [ mac <hwaddr>; ]
    [ nexthop_mac <hwaddr>; ]

  route:=
    id <string>;
    net_cidr4 <ipv4prefix>;
    gw_ip4 <ipv4addr>;
    preshared_key <string>;
    spi <spi>;
    [ private_mtu <size>; ]

NOTES

  A Vita configuration defines the a private and a public network interface for
  use by the gateway, a set of routes to other Vita nodes, and the gateway’s
  MTU among other miscellaneous operational parameters.

  Each interface is identified by a Linux PCI bus address, and assigned an
  IPv4 address as well as the IPv4 address of the next hop through which all
  packets leaving the interface will be routed. The IP addresses assigned to
  both interfaces may be the same.

  If the Ethernet (MAC) address of the interface is not explicitly specified,
  it is automatically derived from its assigned IPv4 address by prepending the
  bytes 2a:bb: or 3a:bb: depending on whether it is the private or public
  interface respectively.

  Given that the NIC driver in use supports VMDq, it is possible to pass the
  same PCI bus address for both interfaces to have them share a single physical
  port.

  If a next hop’s MAC address is given Vita will skip ARP look-up and address
  the next hop directly (this is option intended for use in testing
  environments.)

  Each route is given a unique, human readable identifier that must satisfy the
  pattern [a-zA-Z0-9_]+ (i.e., one or more alphanumeric ASCII and underscore
  characters.) The route’s destination IPv4 subnet and gateway are specified
  with an IPv4 prefix in CIDR notation, and an IPv4 address respectively.
  Packets that arrive on the private interface and which are destined to a
  route’s specified IPv4 subnetwork are tunneled to the destination gateway of
  that route.

  For authentication, each route is assigned a unique, pre-shared 256-bit key,
  encoded as a hexadecimal string (two digits for each octet, most significant
  digit first). Additionally, a unique Security Parameter Index (SPI), which
  must be a positive integer equal or greater than 256, is specified for
  tagging and associating encrypted traffic for a given route. Like the
  pre-shared key, the SPI must be the same for both ends of a route.

  A suitable key could be obtained using the following command:

    head -c 32 /dev/urandom | hexdump -e '/1 "%02X"'

  Optionally, the gateway’s MTU can be specified in bytes. The default and
  maximum permitted value is 8937. Since Vita performs neither fragmentation
  nor reassembly it may be necessary to adjust the next-hop MTU accordingly.
  Note that packets leaving the public interface will have an added packet size
  overhead due to encapsulation (up to 57 bytes for IPv4 and up to 77 bytes for
  IPv6.)

  While the default configuration should be generally applicable, the
  negotiation timeout and lifetime of Security Associations (SA) can be
  specified in seconds.

EXAMPLE

  private_interface {
    pci 0c:00.0;
    ip4 172.16.1.10;
    nexthop_ip4 172.16.1.1;
  }

  public_interface {
    pci 0c:00.1;
    ip4 203.0.113.10;
    nexthop_ip4 172.16.1.1;
  }

  route {
    id site2;
    net_cidr4 172.16.2.0/24;
    gw_ip4 203.0.113.2;
    preshared_key 91440DA06376A668AC4959A840A125D75FB544E8AA25A08B813E49F0A4B2E270;
    spi 1001;
  }

  route {
    id site3;
    net_cidr4 172.16.3.0/24;
    gw_ip4 203.0.113.3;
    preshared_key CF0BDD7A058BE55C12B7F2AA30D23FF01BDF8BE6571F2019ED7F7EBD3DA97B47;
    spi 1223;
  }

  mtu 1280;
